[package]
authors.workspace = true
description = "Extract media from MLTD assets"
edition.workspace = true
license.workspace = true
name = "mltd-asset-extract"
repository.workspace = true
version = "0.1.0"

[dependencies]
num_cpus = { workspace = true }
rayon = { workspace = true }

[dependencies.clap]
features = ["derive"]
workspace = true
